snippet myhead "My File Header" b
/******************************************************************************
 *  @file         `!p snip.rv = fn`
 *  @author       Muggle Wei
 *  @email        mugglewei@gmail.com
 *  @date         `date +%Y-%m-%d`
 *  @copyright    Copyright `date +%Y` Muggle Wei
 *  @license      MIT License
 *  @brief        ${2:${VISUAL}}
 *****************************************************************************/
 ${0}
endsnippet
